@import "@angular/material/prebuilt-themes/azure-blue.css";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-material.css";
@import "./app/styles/aggrid.theme.scss";
@import "./app/styles/material.theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

