<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="primary">close</mat-icon>
</button>
<h2 mat-dialog-title>
  {{ documentData ? "Edit Document" : "Create Document" }}
</h2>
<form [formGroup]="employeeForm" (ngSubmit)="save()" class="form-container">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="fullName" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Salary</mat-label>
    <input matInput type="number" formControlName="salary" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Email Address</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Position</mat-label>
    <mat-select formControlName="position">
      @for (position of positions; track $index) {
      <mat-option [value]="position">{{ position }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="button-container">
    <button mat-stroked-button type="submit" color="primary">Save</button>
    <button mat-stroked-button mat-dialog-close color="warn">Cancel</button>
  </div>
</form>
